* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

body {
  margin: .5em;
  background-color: gainsboro;
}

.app__container {
  max-width: 600px;
  margin: auto;

  
}
.container {
  display: flex;

  padding: .2em;
  border: 1px solid gray;
  border-radius: .3em;
  background-color: white;

  margin-bottom: 1em;
}

.btn {
  cursor: pointer;
  display: block;    

    text-decoration: none;
    color: white;

    padding: .2em;
    border-radius: .3em;
}

